.toolbar {
  font-family: neue-haas-unica, sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 100%;
  position: absolute;
  top: 30px;
  left: 0px;
  padding: .5rem 0;
}

.toolbar_navigation {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 1rem;
}

.toolbar_login {
  display: flex;
  align-items: center;
  margin-left: .5rem;
  flex-shrink: 2;
}

.toolbar_login a {
  color:#9e7a20;
  text-decoration: none;
  font-size: 1rem;
}

.toolbar_logo {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  border: 2px solid #f2efe9;
  padding: .5rem 1rem;
  flex-shrink: 2;
}

.toolbar_logo a {
  color:#f2efe9;
  text-decoration: none;
  font-size: 1rem;
}

.spacer {
  flex: 1;
}

.toolbar_navigation-items ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.toolbar_navigation-items li {
  padding: 0 .5rem;
  margin-bottom: 0;
}

.toolbar_navigation-items a {
  color: #f2efe9;
  text-decoration: none;
  font-size: 1rem;
}

.toolbar_navigation-items a:hover,
.toolbar_navigation-items a:active {
  color: #f2efe9;
}


@media (max-width : 768px) {
  .toolbar_navigation-items {
    display: none;
  }

  .toolbar_login a,
  .toolbar_logo a {
    font-size: .5rem;
  }

  .toolbar_logo {
    padding: .25rem .5rem;
  }

}

@media (min-width: 769px) {
  .toolbar__toggle-button {
    display:none;
  }
  .toolbar_logo {
    margin-left: 1.5rem;
  }
}