.side-drawer {
  font-family: neue-haas-unica, sans-serif;
  font-style: normal;
  font-weight: 100;
  letter-spacing: 3px;
  height: 100%;
  background: #212121;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
  position:fixed;
  top: 0;
  right: 0;
  width: 70%;
  /* max-width: 400px; */
  z-index: 200;
  transform: translateX(100%);
  transition: transform 0.3s ease-out;
}

.side-drawer.open {
  transform: translateX(0);
}

.side-drawer ul {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 3em;
}

.side-drawer li {
  margin: 0.5rem 0;
}

.side-drawer a {
  color: #f2efe9;
  text-decoration: none;
  font-size: 2rem;
}

.side-drawer a:hover,
.side-drawer a:active {
  color: #9e7a20;
}


@media (min-width: 2000px) {
  .side-drawer {
    display:none;
  }
}

@media (min-width: 1440px) {
  .side-drawer {
    width: 40%;
  }
}

@media (min-width: 1024px) {
  .side-drawer {
    width: 40%;
  }
}